.green-title {
  background-color: lightgreen;
  border: 2px solid green;
}

.title-size {
  font-family: Arial;
  text-align: center;
  font-size: 70px;
}

.blue-title {
  background-color: lightblue;
  border: 2px solid blue;
}

body {
  background: gray;
}
