/*body {
  background: purple;
}*/

.green-title {
  background-color: lightgreen;
  border: 2px solid green;
}

.title-size {
  font-family: Arial;
  text-align: center;
  font-size: 70px;
}

.blue-title {
  background-color: lightblue;
  border: 2px solid blue;
}

.purple-title {
  background-color: lightpurple;
  border: 2px solid purple;
  
}

.text {
  font-family: Helvetica;

}

hover: .link {
color: red;

}

/*.link {
  text-color: 
   
}
*/
